# 工作流名称
name: Deploy to K8s

# 触发器：定义什么时候执行这个工作流
on:
  push: # 任何push都会触发


# 3. 定义要执行的任务（Job）
jobs:
  deploy: # 任务名称叫deploy
    runs-on: self-hosted  # 这里会使用我刚刚搭建好的Runner
    steps: # 任务的具体步骤（按顺序执行）
     # 步骤1：拉取仓库代码到运行任务的服务器
      - name: Checkout code
        uses: actions/checkout@v3
      # # 步骤2：登录 Docker Hub（使用 GitHub Secrets 中的账号信息）
      # - name: Login to Docker Hub
      #   run: |
      #     echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: Login to Alibaba Cloud ACR
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin crpi-ligqgn7j175l602u.cn-guangzhou.personal.cr.aliyuncs.com

      # 步骤3：构建Docker镜像并推送到镜像仓库
      # - name: Build and push image
      #   run: |
      #     docker build -t linmoxin/test-app:${{ github.ref_name }} .
      #     docker push linmoxin/test-app:${{ github.ref_name }} 
      - name: Build and push image
        run: |
          docker build -t crpi-ligqgn7j175l602u.cn-guangzhou.personal.cr.aliyuncs.com/linmoxin/linmoxin:test-app:${{ github.ref_name }} .
          docker push crpi-ligqgn7j175l602u.cn-guangzhou.personal.cr.aliyuncs.com/linmoxin/linmoxin:test-app:${{ github.ref_name }}

      # # 步骤4：触发K8s滚动更新s
      # - name: Trigger K8s rolling update
      #   run: |
      #     curl -X POST ${{ secrets.K8S_API_URL }}/api/v1/deployments/default/my-app/image \
      #       -H "Content-Type: application/json" \
      #       -H "Authorization: Bearer ${{ secrets.K8S_API_TOKEN }}" \
      #       -d '{"image": "linmoxin/test-app:${{ github.ref_name }}"'